# Java
*.class
*.jar
*.war
*.ear

# Maven / Gradle
target/
.gradle/

# Eclipse / STS
.metadata/
.settings/
.classpath
.project
bin/

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini
